body {
  margin: 0;
  background: #00061C;
  color: white;
  width: 100vw;
  height: 100vh;
}

.city {
  margin: 0;
  background: #00061C;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 100vw;
  transform-style: preserve-3d;
  animation: fadeIn 2s ease-in-out forwards;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  animation: slideIn 2s ease-in-out forwards;
  transform-style: preserve-3d;
  position: fixed;
  top: 0;
}

.scene {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -1000px;
  transition: transform 100ms;
}

.left, .right, .center, .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
  transform: scale(1.1);
  pointer-events: none;
  transition: transform 100ms linear;
  transform-style: preserve-3d;
}

.left .building, 
.right .building, 
.center .building,
.bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center .logo {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 14%;
  transform: translateX(-50%) translateY(-50%) translateZ(300px);
  pointer-events: auto;
}

video {
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms;
}

.left:hover video {
  opacity: 1;
}

.left:hover .logo {
  filter: blur(0);
}
.right:hover .logo {
  filter: blur(0);
}
.center:hover .logo {
  filter: blur(0);
}

.left .videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:url(images/left.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.left .videoContainer video {
  position: relative;
  left: -2vw;
  top: 50%;
  width: 40.34vw;
  height: 20vw;
  object-fit: cover;
  transform: perspective(100vw) translateY(-100%) translateX(0%) rotateX(10deg) rotateY(50deg) rotateZ(12deg);
}

.left .videoContainer2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:url(images/left2.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}


.left .videoContainer2 img {
  position: relative;
  left: -2vw;
  top: 50%;
  width: 40.34vw;
  height: 20vw;
  object-fit: cover;
  transform: perspective(100vw) translateY(-40%) translateX(0%) rotateX(10deg) rotateY(50deg) rotateZ(12deg);
}

.logo {
  filter: blur(4px);
  transition: filter 500ms;
  pointer-events: auto;
}

.left .logo {
  position: absolute;
  left: 22%;
  top: 55%;
  width: 17%;
  transform: perspective(100vw) translateX(-20%) translateY(-50%) translateZ(300px) rotateY(42deg) rotateX(10deg) skewY(20deg);
}

.center {
  transform: scale(1.5) translateZ(-600px);
}

.center .videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* -webkit-mask-image:url(images/screen2.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover; */
}

.center video {
  position: relative;
  width: 16.7vw;
  height: 11.2vw;
  object-fit: cover;
  transform: perspective(100vw) translateX(calc(50vw - 14%)) translateY(calc(50vh - 60%)) rotate(0) rotateY(343deg) rotateX(18deg) rotateZ(1deg) skewY(-10.5deg);
}

.right .videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:url(images/right.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.right video {
  position: relative;
  left: 50%;
  top: 50%;
  width: 22.34vw;
  height: 8.9vw;
  object-fit: cover;
  transform: perspective(100vw) translateY(-155%) translateX(75%) rotateX(10deg) rotateY(-50deg) skewY(-14deg);
}

.right .logo {
  position: absolute;
  right: 4%;
  top: 40%;
  width: 19%;
  transform: perspective(100vw) translateX(-50%) translateY(-50%) translateZ(300px) rotateY(-40deg) skewY(-20deg);
}

.bg {
  transform: translateZ(-3000px) scale(4);
}

@keyframes slideIn {
  0% {
    transform: translateY(300px) translateZ(100vw);
  }
  100% {
    transform: translateZ(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timeline {
  left: 0;
  top: 0;
  width: 100%;
  height: 1200vh;
  top: 0;
  position: relative;
  z-index: -1;
}

.timeline__title {
  position: absolute;
  left: 50%;
  top: -400px;
  transform: translateX(-50%) translateY(-50%);
  font-family: monospace;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: #fff;
  font-weight: 100;
}

.timelineItem {
  position: absolute;
  left: 360px;
  width: calc(50vw - 440px);
  top: 50%;
  transform: translateY(-50%);
}

.cards {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: 50vh;
  left: 50%;
  perspective: 100vw;
  transform: perspective(100vw);
  transform-style: preserve-3d;
}

.cards h1 {
  font-family: monospace;
  letter-spacing: 0.03rem;
  font-size: 2rem;
}

.card {
  width: 500px; 
  border-radius: 20px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
/*   opacity: 0.8; */
  background: black;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 30px #22111533;
}
.card img {
  display: block;
  position: relative;
  width: 100%;
  height: 105%;
  object-fit: cover;
}

.isWhiteRabbit .center {
  transition: transform 2s ease-in-out;
  transform: scale(2);
}

.isWhiteRabbit .center video {
  transform-origin: 50% 50%;
  transform: translateX(calc(50vw + -50%)) translateY(calc(50vh + -50%)) scale(3);
  transition: transform 2000ms ease-in-out;
  opacity: 1;
}

.isWhiteRabbit .center .building {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.isWhiteRabbit .left {
  transition: transform 2s ease-in-out;
  transform: scale(4);
}

.isWhiteRabbit .right {
  transition: transform 2s ease-in-out;
  transform: scale(4);
}

.isWhiteRabbit .bg {
  transition: transform 2s ease-in-out, opacity 1s ease-in-out;
  transform: scale(2);
  opacity: 0;
}

.isWhiteRabbit {
  overflow: visible;
}

.isWhiteRabbit .cards {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}