body {
  margin: 0;
  background: #00061C;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  perspective: 100vw;
  transform-style: preserve-3d;
  animation: fadeIn 2s ease-in-out forwards;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  animation: slideIn 2s ease-in-out forwards;
  transform-style: preserve-3d;
  position: fixed;
  top: 0;
}

.scene {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: 50% 50% -1000px;
  transition: transform 100ms;
}

.left, .right, .center, .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* transform-style: preserve-3d; */
  transform: scale(1.1);
  pointer-events: none;
  transition: transform 100ms linear;
}

.left img, 
.right img, 
.center img,
.bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  pointer-events: auto;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 500ms;
}

video:hover {
  opacity: 1;
}

.left .videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:url(images/screen1.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.left video {
  position: relative;
  left: 0;
  top: 50%;
  width: 35.34vw;
  height: 18vw;
  object-fit: cover;
  transform: perspective(100vw) translateY(-100%) translateX(0%) rotateX(10deg) rotateY(50deg) rotateZ(12deg);
}

.center {
  transform: scale(1.5) translateZ(-600px);
}

.center .videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:url(images/screen2.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.center video {
  position: relative;
  left: 50%;
  top: 50%;
  width: 10.34vw;
  height: 8vw;
  object-fit: cover;
  transform: translateY(-50%);
}

.right .videoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-mask-image:url(images/screen3.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
}

.right video {
  position: relative;
  left: 50%;
  top: 50%;
  width: 16.34vw;
  height: 6vw;
  object-fit: cover;
  transform: perspective(100vw) translateY(-210%) translateX(100%) rotateX(10deg) rotateY(-50deg) rotateZ(-10deg);
}

.bg {
  transform: translateZ(-3000px) scale(4);
}

@keyframes slideIn {
  0% {
    transform: translateY(300px) translateZ(100vw);
  }
  100% {
    transform: translateZ(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}