<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="ui/assets/styles/css/style.css">
  </head>
  <!-- RAMS -->
  <body>
    <div class="Header">
      <h3><span><a href="index.html">The Components</a></span></h3>
      <div class="Shuffle"><img src="ui/assets/images/shuffle.svg" alt=""></div>
      <select name="system" id="System-input">
        <option value="Rams">Dieter Rams</option>
        <option value="Vignelli">The Vignellis</option>
        <option value="Bass">Saul Bass</option>
        <option value="Brockmann">Josef Müller-Brockmann</option>
  <!--       <option value="Escher">MC Escher</option> -->
      </select>
    </div>
    <div class="System">
      <section class="Section Section--components-1 Section--article flex-wrap section-flex-col">
        <div class="Component">
          <div class="Bg">
            <div class="Cover">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Paragraph">
              <p class="Dropcap--3">
                Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.
              </p>
              <p>
                In 1977, Bass sat down with Herbert Yager to discuss his process and the theories behind his signature contribution to film: the title sequence.
              </p>
              <p>
                Following is an excerpt from their conversation, as found in the Saul Bass papers, which reside at the Academy’s The Margaret Herrick Library. The interview was conducted as part of the film, Bass on Titles.
              </p>
              <p>
                <b><i>How did you get involved with movie titles?</i></b>
              </p>
              <p>
                I began as a graphic designer. As part of my work, I created film symbols for ad campaigns. I happened to be working on the symbols for Otto Preminger’s Carmen Jones and The Man With The Golden Arm and at some point, Otto and I just looked at each other and said, “Why not make it move?”
              </p>
              <p>
                It was as simple as that.
              </p>
              <p class="Quote">
                <span>I had felt for some time that audience involvement with a film should begin with its first frame.</span>
              </p>
              <p>
                Until then, titles had tended to be lists of dull credits, mostly ignored, endured, or used as popcorn time.
              </p>
              <p>
                There seemed to be a real opportunity to use titles in a new way — to actually create a climate for the story that was about to unfold.
              </p>
              <span class="Image">
                <img src="ui/assets/images/Bass_anim.gif">
              </span>
              <p>
                <b><i>When The Man With The Golden Arm opened in New York in 1952, the symbol was used on the marquee, a testimony to the effectiveness in that medium. How did the symbol function when you translated it to film?</i></b>
              </p>
              <p>
                The film was about drug addiction. The symbol — the arm — in its jagged form expressed the disjointed, jarring existence of the drug addict.
              </p>
              <p>
                To the extent that it was an accurate and telling synthesis of the film in the ad campaign, those same qualities came with it into the theater and with the addition of motion and sound it really came alive and set up the mood and texture of the film.
              </p>
              <p>
                <b><i>You made the transition from purely graphic devices to live action early in your career. How did the titles from In Harm’s Way and Seconds represent the next evolutionary step?</i></b>
              </p>
              <p>
                As I said before, I started in graphics. Then, as you’ve seen, I began to move that graphic image on film. Somewhere down the line, I felt the need to come to grips with the realistic — or live action — image which seemed to me central to the notion of film. And then a whole new world opened to me.
              </p>
              <p>
                In spite of my fascination with this, I still felt content was the key issue.
              </p>
              <p class="Quote">
                <span>I continued to look for simple, direct ideas.</span>
              </p>
              <p>
                For example, for In Harm’s Way, a story about the sea war in the Pacific, I used the violent and eternal qualities of the sea as a metaphor for the people and the events in the story.
              </p>
              <p>
                In Seconds, a 60-year-old man goes into the hospital and through advanced surgical techniques is reconstituted in his entirety — and comes out 25 years old, looking like Rock Hudson. Tampering with humanity that way is pretty scary.
              </p>
              <p>
                So in the title, I broke apart, distorted and reconstituted the human face to symbolically set the stage for what was to come.
              </p>
              <p>
                <b><i>The titles for West Side Story and It’s a Mad, Mad, Mad, Mad World are considerably longer than most of your titles. Just how long should a title be?</i></b>
              </p>
              <p>
                Abe Lincoln, when asked how long a man’s legs should be, said, “Long enough to reach the ground.”
              </p>
              <p>
                Well, these titles needed longer legs than most. This is not uncommon for adaptations of stage plays and musicals (because they have to carry double sets of credits).
              </p>
              <p>
                But in addition to accommodating a lot of information, each title still had to deal with its relationship to the film.
              </p>
              <p>
                West Side Story had an additional problem.
              </p>
              <p>
                The film ends with the violent deaths of the major characters. It was powerful stuff. We thought the audience might appreciate the titles coming at the end, so they would have some time to pull themselves together before the lights came up. A sort of decompression chamber.
              </p>
              <p>
                The graffiti device seemed appropriate because it grew right out of the visual environment of the film itself and could also accommodate a lot of credit material without palling.
              </p>
              <p>
                Now, Mad, Mad, Mad, Mad World handled muchness in a different way.
              </p>
              <p>
                The idea was — take a globe of the world and see just how many visual jokes can be squeezed out of it. Both the film and the title were based on similar notions — take a joke and push it beyond a reasonable point.
              </p>
              <p>
                Remember, the name of the film was Mad, Mad, Mad, Mad World.
              </p>
              <p>
                Titles for The Big Country, The Victors and Grand Prix seem to go further towards totally integrating the title into the film. Was this by design?
              </p>
              <p>
                Absolutely. Previously, I had used titles to symbolize, summarize, establish mood, or attitude.
              </p>
              <p class="Quote">
                <span>At one point it occurred to me that the title could make a more significant contribution to the storytelling process. It could act as a prologue. It could deal with the time before.</span>
              </p>
              <p>
                For instance, in Big Country I tried to establish the notion of an island of people, in a sea of land… the vastness of which is penetrated by a stagecoach.
              </p>
              <p>
                After an endless journey it reaches this isolated group of people. And only then does the story begin.
              </p>
              <p>
                So with Big Country it was three months before; in The Victors it was the 25 years before (from World War I into the middle of World War II): and in Grand Prix it was the moment before (the preparations for the Monte Carlo race).
              </p>
              <span class="Image">
                <img src="ui/assets/images/Bass_poster.jpg">
              </span>
              <p>
                The titles for Nine Hours to Rama and Walk on the Wild Side appear to be a further extension of the medium.
              </p>
              <p>
                In these titles I came to grips with what I think is the most challenging aspect of any creative endeavor. And that is deal with ordinary things, things that we know so well that we’ve ceased to see them; deal with them in a way that allows us to understand them anew — in a sense making the ordinary extraordinary.
              </p>
              <p>
                For instance, Nine Hours to Rama is about the nine hours which preceded the assassination of Ghandi.
              </p>
              <p>
                By taking a clock, that most ordinary of objects, and subjecting it to an unrelenting examination, I hoped to create an intensification of one’s awareness of each moment — and of the inexorability of the passage of these moments.
              </p>
              <p>
                In Walk on the Wild Side I used a cat. A creature we’ve likely stopped really seeing long ago.
              </p>
              <p>
                The challenge was how to restore our original view of a cat, when it was new and strange, perhaps before our point of memory… and to transform it into a pervasive presence, which was at the same time faithful to Nelson Algren’s story of New Orleans street life.
              </p>
              <p>
                <b><i>In recent years you’ve been very active in other forms of filmmaking. Have you abandoned your work on titles?</i></b>
              </p>
              <p>
                My work on titles was a marvelous opportunity to learn about filmmaking. I think I touched on just about every aspect of the process, both creative and technical. And I worked with many wonderful people.
              </p>
              <p>
                But there are always new challenges — new mountains to climb. I’ve since directed interior sequences for features, short films, commercials, a feature film.
              </p>
              <p>
                But it’s all film, and film is wonderful. I’m a filmmaker and I intend to continue making films of all kinds, in any manner, shape, or form — short or long.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="ui/assets/scripts/fixtures.js"></script>
    <script src="ui/assets/scripts/class-lists.js"></script>
    <script>
      var mySiteClasses = ['section-h-padding', 'section-v-padding'];
      var mySectionClasses = ['title-size', 'group-align', 'group-justify', 'section-bg-color', 'section-bgcover'] //'flex-col'
    </script>
    <script src="ui/assets/scripts/shuffle.js"></script>
    <script src="ui/assets/scripts/scroll.js"></script>
  </body>
</html>
