<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="ui/assets/styles/css/style.css">
  </head>

<!-- RAMS -->
  <body>
    <div class="Header">
      <h3><span><a href="index.html">The Components</a></span></h3>
      <div class="Shuffle"><img src="ui/assets/images/shuffle.svg" alt=""></div>
      <select name="system" id="System-input">
        <option value="Rams">Dieter Rams</option>
        <option value="Vignelli">The Vignellis</option>
        <option value="Bass">Saul Bass</option>
        <option value="Brockmann">Josef Müller-Brockmann</option>
  <!--       <option value="Escher">MC Escher</option> -->
      </select>
    </div>
    <div class="System">
      <section class="Section Section--components-4 Section--footer">
        <div class="Component">
          <div class="Group Group--heading">
            <h4 class="Headline">Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</h4>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--links">
            <div class="Link">
              <h4><a href="#team">Twitter</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#design">Facebook</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#culture">Instagram</a></h4>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--links">
            <div class="Link">
              <h4><a href="#team">Contact</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#design">Jobs</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#culture">RSS</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#technology">Press</a></h4>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--links">
            <div class="Link">
              <h4><a href="#team">Contact</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#design">Jobs</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#culture">RSS</a></h4>
            </div>
            <div class="Link">
              <h4><a href="#technology">Press</a></h4>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="ui/assets/scripts/fixtures.js"></script>
    <script src="ui/assets/scripts/class-lists.js"></script>
    <script>
      var mySiteClasses = ['section-h-padding', 'section-v-padding']
      var mySectionClasses = ['section-bg-color'] // wo-bgcover
    </script>
    <script src="ui/assets/scripts/shuffle.js"></script>
    <script src="ui/assets/scripts/scroll.js"></script>
  </body>
</html>
