<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="ui/assets/styles/css/style.css">
  </head>

<!-- RAMS -->
  <body>
    <div class="Header">
      <h3><span><a href="index.html">The Components</a></span></h3>
      <div class="Shuffle"><img src="ui/assets/images/shuffle.svg" alt=""></div>
      <select name="system" id="System-input">
        <option value="Rams">Dieter Rams</option>
        <option value="Vignelli">The Vignellis</option>
        <option value="Bass">Saul Bass</option>
        <option value="Brockmann">Josef Müller-Brockmann</option>
  <!--       <option value="Escher">MC Escher</option> -->
      </select>
    </div>
    <div class="System">
      <section class="Section Section--components-1 groups-2 group-justify-start">
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="Section Section--components-2 groups-2 group-justify-start">
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="Section Section--components-3 groups-2 group-justify-start">
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="Section Section--components-4 groups-2 group-justify-start">
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
        <div class="Component">
          <div class="Group Group--graphical">
            <div class="Image">
              <img src="ui/assets/images/Rams.jpg">
            </div>
          </div>
          <div class="Group Group--column">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
            <div class="Paragraph">
              <p>Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script src="ui/assets/scripts/fixtures.js"></script>
    <script src="ui/assets/scripts/class-lists.js"></script>
    <script>
      var mySiteClasses = ['section-h-padding', 'section-v-padding']
      var mySectionClasses = ['section-flex', 'title-size', 'text-align', 'component-h-padding', 'component-v-padding', 'group-bg-color', 'group-h-inset', 'group-v-inset', 'group-h-overlap', 'group-v-overlap', 'group-align', 'section-bg-color'] // flex-row justify-start
    </script>
    <script src="ui/assets/scripts/shuffle.js"></script>
    <script src="ui/assets/scripts/scroll.js"></script>
  </body>
</html>
