<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="ui/assets/styles/css/style.css">
  </head>

<!-- RAMS -->
  <body>
    <div class="Header">
      <h3><span><a href="index.html">The Components</a></span></h3>
      <div class="Shuffle"><img src="ui/assets/images/shuffle.svg" alt=""></div>
      <!-- <select name="system" id="System-input">
        <option value="Rams">Dieter Rams</option>
        <option value="Vignelli">The Vignellis</option>
        <option value="Bass">Saul Bass</option>
        <option value="Brockmann">Josef Müller-Brockmann</option>
      </select> -->
    </div>
    <div class="Wrapper">
      <div class="System">
        <div class="Kill">KILL</div>
        <section class="Section Section--components-1 section-height-fullscreen">
          <div class="Component">
            <div class="Bg">
              <div class="Cover">
                <img src="ui/assets/images/Rams.jpg">
              </div>
            </div>
            <div class="Group Group--graphical">
              <div class="Image">
                <img src="ui/assets/images/Rams.jpg">
              </div>
            </div>
            <div class="Group Group--heading">
              <div class="Headline">
                <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
              </div>
              <div class="Attribution">
                <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
              </div>
            </div>
            <div class="Group Group--column">
              <div class="Paragraph">
                <p>Instead of solutions for problems, programmes for solutions -- the subtitle can also be understood in these terms: for no problem (so to speak) is there an absolute solution. Reason: the possibilities cannot be delimited absolutely. There is always a group of solutions, one of which is the best under certain conditions.
                </p>
                <p>
                To describe the problem is part of the solution. This implies: not to make creative decisions as prompted by feeling but by intellectual criteria. The more exact and complete these criteria are, the more creative the work becomes. The creative process is to be reduced to an act of selection. Designing means: to pick out determining elements and combine them. Seen in these terms, designing calls for method.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="ui/assets/scripts/fixtures.js"></script>
    <script src="ui/assets/scripts/class-lists.js"></script>
    <script>
      var mySiteClasses = [
        'section-h-padding',
        'section-v-padding',
        'design-system'
      ]
      var mySectionClasses = [
        'title-size',
        'text-align',
        'component-h-padding',
        'component-v-padding',
        'section-h-padding',
        'section-v-padding',
        // 'group-bg-color',
        'group-align',
        'group-justify',
        'group-overlap',
        'section-bg-color',
        'section-bgcover',
        'section-bgcover-fit',
        'section-bgcover-size',
        'section-bgcover-align',
        'section-bgcover-justify',
        'section-flex'
      ]
    </script>
    <script src="ui/assets/scripts/shuffle.js"></script>
    <script src="ui/assets/scripts/scroll.js"></script>
  </body>
</html>
