<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="ui/assets/styles/css/style.css">
  </head>

<!-- RAMS -->
  <body>
    <div class="Header">
      <h3><span><a href="index.html">The Components</a></span></h3>
      <div class="Shuffle"><img src="ui/assets/images/shuffle.svg" alt=""></div>
      <select name="system" id="System-input">
        <option value="Rams">Dieter Rams</option>
        <option value="Vignelli">The Vignellis</option>
        <option value="Bass">Saul Bass</option>
        <option value="Brockmann">Josef Müller-Brockmann</option>
  <!--       <option value="Escher">MC Escher</option> -->
      </select>
    </div>
    <div class="System">
      <section class="Section Section--components-1 col-2 column-count group-justify-start">
        <div class="Component">
          <div class="Group Group--heading">
            <div class="Headline">
              <h1><span>Aware that he was a significant contributor to that world, he asked himself an important question: is my design good design?</span></h1>
            </div>
          </div>
          <div class="Group Group--meta">
            <div class="Attribution">
              <h5><span class="Author">Dieter Rams via Vitsœ</span></h5>
            </div>
          </div>
          <div class="Group Group--textual">
            <p>
              Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.
            </p>
            <p>
              In 1977, Bass sat down with Herbert Yager to discuss his process and the theories behind his signature contribution to film: the title sequence.
            </p>
            <p>
              Following is an excerpt from their conversation, as found in the Saul Bass papers, which reside at the Academy’s The Margaret Herrick Library. The interview was conducted as part of the film, Bass on Titles.
            </p>
            <p>
              I began as a graphic designer. As part of my work, I created film symbols for ad campaigns. I happened to be working on the symbols for Otto Preminger’s Carmen Jones and The Man With The Golden Arm and at some point, Otto and I just looked at each other and said, “Why not make it move?”
            </p>
            <p>
              Until then, titles had tended to be lists of dull credits, mostly ignored, endured, or used as popcorn time.
            </p>
            <p>
              I began as a graphic designer. As part of my work, I created film symbols for ad campaigns. I happened to be working on the symbols for Otto Preminger’s Carmen Jones and The Man With The Golden Arm and at some point, Otto and I just looked at each other and said, “Why not make it move?”
            </p>
            <p>
              Until then, titles had tended to be lists of dull credits, mostly ignored, endured, or used as popcorn time.
            </p>
            <p>
              There seemed to be a real opportunity to use titles in a new way — to actually create a climate for the story that was about to unfold.
            </p>
            <p>
              Graphic designer and Oscar-winning director Saul Bass worked with some of the most creative filmmakers in Hollywood to set the tone for their work through his unique title sequences for films ranging from Psycho to Goodfellas.
            </p>
          </div>
        </div>
      </section>
    </div>
    <script src="ui/assets/scripts/fixtures.js"></script>
    <script src="ui/assets/scripts/class-lists.js"></script>
    <script>
      var mySiteClasses = ['section-h-padding', 'section-v-padding']
      var mySectionClasses = ['title-size', 'text-align', 'component-h-padding', 'component-v-padding', 'group-align', 'section-bg-color'] // justify start
    </script>
    <script src="ui/assets/scripts/shuffle.js"></script>
    <script src="ui/assets/scripts/scroll.js"></script>
  </body>
</html>
