
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="ui/assets/styles/css/style.css">
  </head>

<!-- RAMS -->
  <body style="height: 4000px;">
    <div class="Header">
      <h3><span><a href="index.html">The Components</a></span></h3>
      <div class="Shuffle"><img src="ui/assets/images/shuffle.svg" alt=""></div>
      <select name="system" id="System-input" style="display: none">
        <option value="Rams">Dieter Rams</option>
        <option value="Vignelli">The Vignellis</option>
        <option value="Bass">Saul Bass</option>
        <option value="Brockmann">Josef Müller-Brockmann</option>
  <!--       <option value="Escher">MC Escher</option> -->
      </select>
    </div>
    <div class="System">
      <section class="Section Section--components-1 Section--nav">
        <div class="Component Nav--hamburger">
          <div class="Group Group--links">
            <div class="Icon"><a href="#menu">☰</a></div>
            <div class="Link">
              <h1><a href="#team">Team</a></h1>
            </div>
            <div class="Link">
              <h1><a href="#design">Design</a></h1>
            </div>
            <div class="Link">
              <h1><a href="#culture">Culture</a></h1>
            </div>
            <div class="Link">
              <h1><a href="#technology">Technology</a></h1>
            </div>
            <div class="Link">
              <h1><a href="#thoughts">Thoughts</a></h1>
            </div>
          </div>
        </div>
      </section>
    </div>
    <script>
      var touchStartY;
      var touchMoved;
      var scrollTop;
      var oldScrollTop;
      var Nav = document.querySelector('.Section--nav');
      var HamburgerContainer = document.querySelector('.Nav--hamburger');
      var HamburgerIcon = HamburgerContainer.querySelector('.Icon a');

      HamburgerIcon.addEventListener('click',hamburgerClickHandler);
      window.addEventListener('touchmove',scrollDirectionHandler)
      Nav.addEventListener('wheel',navScrollHandler);
      window.addEventListener('wheel',scrollDirectionHandler);
      window.addEventListener('mousemove',mousemoveHandler);
      function navScrollHandler(e) {
        e.stopPropagation();
      }
      function hamburgerClickHandler() {
        if(HamburgerIcon.textContent == "☰"){
          HamburgerIcon.textContent = "✕";
          HamburgerContainer.classList.add('Active');
        }
        else if(HamburgerIcon.textContent == "✕") {
          HamburgerIcon.textContent = "☰";
          HamburgerContainer.classList.remove('Active');
          HamburgerContainer.scrollTop = 0;
        }
      }
      function scrollDirectionHandler(e) {
        oldScrollTop = scrollTop;
        scrollTop = document.body.scrollTop;
        if(scrollTop > oldScrollTop && !Nav.classList.contains('Hidden')) {
          Nav.classList.add('Hidden');
        }else if(scrollTop < oldScrollTop && Nav.classList.contains('Hidden')){
          Nav.classList.remove('Hidden');
        }
      }
      function mousemoveHandler(e) {
        if(e.pageY - document.body.scrollTop < 100 && Nav.classList.contains('Hidden')){
          Nav.classList.remove('Hidden');
        }
      }
    </script>
    <script src="ui/assets/scripts/class-lists.js"></script>
    <script>
      var mySiteClasses = []
      var mySectionClasses = ['section-bg-color','title-size','text-align'];
    </script>
    <script src="ui/assets/scripts/shuffle.js"></script>
  </body>
</html>
