@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.svg#icons') format('svg'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-f_outline:before {
	content: "\66";
}
.icon-twitter:before {
	content: "\74";
}
.icon-story_icon:before {
	content: "\73";
}
.icon-watch_icon:before {
	content: "\77";
}
.icon-logo:before {
	content: "\6c";
}
